<pag-header title="Register product"></pag-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="OnClick(form)" #form="ngForm">
    <ion-slides pager="true"  [options]="slideOpts">
      <ion-slide *ngFor="let photo of product.gallery; let i = index">
        <img [src]="photo" (click)="chancephoto(i)">
      </ion-slide>
      <ion-slide>
        <img src="assets/NewPhoto.png" (click)="newphoto()">
      </ion-slide>
    </ion-slides>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" name="prod-name" [(ngModel)]=product.name required clearInput pattern="[*-_0-9a-zA-Z' ]*">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Price </ion-label>
      <ion-input type="number" name="prod-price" [(ngModel)]=product.price required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select name="prod-category" [interfaceOptions]="customPopoverOptions" interface="popover"
        [(ngModel)]=product.category placeholder="Select One" required >
        <ion-select-option [value]="cats.Casa">Casa</ion-select-option>
        <ion-select-option [value]="cats.Eletronicos">Eletronicos</ion-select-option>
        <ion-select-option [value]="cats.Eletrodomesticos">Eletrodomesticos</ion-select-option>
        <ion-select-option [value]="cats.Roupas">Roupas</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description </ion-label>
      <ion-input type="text" name="prod-description" [(ngModel)]=product.description clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Specs </ion-label>
      <ion-input type="text" name="prod-specs" [(ngModel)]=product.specs required clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Stock </ion-label>
      <ion-input type="number" name="prod-stock" [(ngModel)]=product.stock value="0"></ion-input>
    </ion-item>

    <!-- install bootstrap? :) -->
    <div *ngIf="!id">
      <ion-button class="ion-margin" expand="block" size="medium" [disabled]="form.invalid" type="submit">Register</ion-button>
    </div>
    <div *ngIf="id">
      <ion-button class="ion-margin" expand="block" size="medium" [disabled]="form.invalid" type="submit">Update</ion-button>
    </div>
    <ion-button class="ion-margin" expand="block" size="medium" type="reset" routerLink="/tabs/products">Cancel</ion-button>
  </form>
</ion-content>