<pag-header title="Maps"></pag-header>

<ion-content [fullscreen]="true">
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="15" [disableDefaultUI]="false">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]=true></agm-marker>
  </agm-map><!-- review this / compare with the one on the tutorials github-->
  <ion-item>
    <ion-label position="floating">Enter Address</ion-label>
    <ion-input type="text" [(ngModel)]="address" name="address"></ion-input>
  </ion-item>
  <ion-button color="primary" (click)="getPositionOnMap()" expand="full" class="ion-margin">Go to Address</ion-button>
  <ion-button color="tertiary" (click)="getLocation()" expand="full" class="ion-margin">Show My Location</ion-button>
</ion-content>