<pag-header title="{{user.name}}'s profile"></pag-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-text>{{user.name}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-text>{{user.email}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Tel</ion-label>
      <ion-text>{{user.tel}}</ion-text>
    </ion-item>
  </ion-list>
  <ion-button type="button" color="primary" expand="block" routerLink="/tabs/userForm/{{id}}">Edit</ion-button>
  <ion-button type="button" color="secondary" expand="block" (click)="logout()">Logout</ion-button>
</ion-content>