<pag-header title="{{user.name}}'s profile"></pag-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <img [src]="user.photo" *ngIf="user.photo && id && user.id != id">
      <img [src]="user.photo" (click)="alterPhoto()" *ngIf="user.photo && (user.id == id || !id)">
      <img src="assets/perfil.png" *ngIf="!user.photo && id && user.id != id">
      <img src="assets/perfil.png" (click)="alterPhoto()" *ngIf="!user.photo && (user.id == id || !id)">
    </ion-item>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-text>{{user.name}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>E-mail</ion-label>
      <ion-text>{{user.email}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Tel</ion-label>
      <ion-text>{{user.tel}}</ion-text>
    </ion-item>
  </ion-list>
  <ion-item-group *ngIf="user.address">
    <ion-item>
      <ion-label>State: {{address.state}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>City: {{address.city}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>CEP: {{address.cep}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Address: {{address.street}}, {{address.number}}</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-button *ngIf="user.address" type="button" color="primary" expand="block" (click)="ShowMap()" class="ion-margin">Show on Map</ion-button>
  <agm-map *ngIf="showOnMap" [latitude]="latitude" [longitude]="longitude" [zoom]="18" [disableDefaultUI]="false">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]=false></agm-marker>
  </agm-map>
  <ion-button *ngIf="!user.address && (user.id == id || !id)" type="button" color="primary" expand="block" routerLink="/tabs/addressForm" class="ion-margin">Add address</ion-button>
  <ion-button *ngIf="user.address && (user.id == id || !id)" type="button" color="primary" expand="block" routerLink="/tabs/addressForm/{{user.address}}" class="ion-margin">Update address</ion-button>
  <ion-button *ngIf="!id || id == user.id" type="button" color="primary" expand="block" routerLink="/tabs/userForm/{{user.id}}" class="ion-margin">Edit</ion-button>
  <ion-button *ngIf="!id || id == user.id" type="button" color="secondary" expand="block" (click)="logout()" class="ion-margin">Logout</ion-button>
</ion-content>