<pag-header title="Products"></pag-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="RefreshContent($event)">
    <ion-refresher-content pullingIcon="bubbles" refreshingSpinner="bubbles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item lines="inset" *ngFor="let product of products" routerLink="/tabs/product/{{product.id}}">
      <img *ngIf="product.gallery" [src]="product.gallery[0]" [alt]="product.name">
      <ion-label>
        <h2>{{product.name}}</h2>
        <h3>{{product.price | currency:'BRL' }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/productForm">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>